body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: .25em;
  width: 20em;
  height: 2em;
}

select {
  margin-left: 0.5em;
  height: 2.5em;
  width: 6em;
  border-radius: 0.3em;
}

.equals {
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.from {
  font-weight: bold;
  color: black;
  display: flex;
  margin-bottom: 0.5em;
}